.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0px 15px;
	@include Pad(){
		max-width: 992px;
	}
	@include Phone(){
		max-width: 767px;
	}
	@include smPhone(){
		max-width: 345px;
	}
}

/* 顏色 */
$red: #AA0601;
$darkred: #650300;
$gray: #212529;
$pink: #AA06010D;
$otherTitle: #9F1213;
$bgcolor: #FBF2F2;

/* 基本間距 */
$space-base: 1rem;
$mb-1: $space-base * 0.25;  // 4px
$mb-2: $space-base;    // 16px   
$mb-3: $space-base * 1.5;    // 24px
$mb-4: $space-base * 2;    // 32px
$mb-5: $space-base * 2.5;    // 40px
$mb-6: $space-base * 3;    // 48px
$mb-7: $space-base * 3.75;  // 60px
$mb-8: $space-base * 5;   // 80px
$mb-9: $space-base * 6;   // 96px
$mb-10: $space-base * 7.75; // 124px

$ml-1: $space-base;  // 16px
$ml-2: $space-base * 1.5;  // 24px
$ml-3: $space-base * 2;  // 32px
$ml-5: $space-base * 2.5;  // 40px
$ml-6: $space-base * 3;  // 48px
$ml-7: $space-base * 3.5;  // 56px
$ml-8: $space-base * 4;  // 64px
$ml-9: $space-base * 4.5;  // 72px

/* 字型大小 */
$font-size-base: 1rem;  // 16px
$fz-1: $font-size-base * 0.875;   // 14px
$fz-2: $font-size-base * 1.125;   // 18px
$fz-3: $font-size-base * 1.1875;  // 19px
$fz-4: $font-size-base * 1.25;    // 20px
$fz-5: $font-size-base * 1.5;     // 24px
$fz-6: $font-size-base * 2;       // 32px
$fz-7: $font-size-base * 2.25;    // 36px
$fz-8: $font-size-base * 2.625;   // 42px
$fz-9: $font-size-base * 3;       // 48px
$fz-10: $font-size-base * 4;      // 64px

/*行高*/
$line-height-base: 1rem; // 16px
$lh-1: $line-height-base * 1.3125;  // 21px
$lh-2: $line-height-base * 1.5;     // 24px
$lh-3: $line-height-base * 1.625;   // 26px
$lh-4: $line-height-base * 1.6875;  // 27px
$lh-5: $line-height-base * 1.8125;  // 29px
$lh-6: $line-height-base * 1.875;   // 30px
$lh-7: $line-height-base * 2.25;    // 36px
$lh-8: $line-height-base * 3;       // 48px
$lh-9: $line-height-base * 3.375;   // 54px
$lh-10: $line-height-base * 3.9375; // 54px
$lh-11: $line-height-base * 4.5;    // 72px
$lh-12: $line-height-base * 6;      // 96px


