@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  display: block;
  text-decoration: none;
  color: white; }

body {
  font-family: "思源黑體 TW,Reguler"; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 992px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 767px; } }
  @media (max-width: 345px) {
    .container {
      max-width: 345px; } }

/* 顏色 */
/* 基本間距 */
/* 字型大小 */
/*行高*/
.header {
  background: #AA0601; }
  .header .header-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 0px; }
    @media (max-width: 767px) {
      .header .header-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0px; } }

.logo a {
  width: 80px;
  height: 48px;
  background: url("../images/logo-white.png") no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 767px) {
    .logo a {
      margin: 0 auto;
      margin-bottom: 10px;
      padding: 4px 0px; } }

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .menu a {
    padding: 10px 32px;
    font-size: 1.25rem;
    line-height: 1.875rem; }
  .menu a:hover {
    font-weight: bold; }
  @media (max-width: 767px) {
    .menu {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .menu li {
        width: 50%;
        border: 1px solid #fff;
        text-align: center; }
      .menu a {
        font-size: 1rem;
        line-height: 1.5rem; } }

.footer {
  background: #AA0601;
  color: #fff;
  padding-top: 48px; }
  .footer .nav-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1.5rem; }
  .footer .nav-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer .nav-footerMenu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2.25rem; }
    @media (max-width: 767px) {
      .footer .nav-footerMenu {
        display: none; } }
    .footer .nav-footerMenu a {
      font-size: 1rem;
      line-height: 1.5rem; }
    .footer .nav-footerMenu a:hover {
      font-weight: bold; }
  .footer .nav-community {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .footer .nav-community {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .footer .fb {
    width: 48px;
    height: 48px;
    background: url("../images/ic-social-fb.png") no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden; }
    @media (max-width: 767px) {
      .footer .fb {
        width: 18px;
        height: 18px; } }
  .footer .ig {
    width: 48px;
    height: 48px;
    background: url("../images/ic_social_ig.png") no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden; }
    @media (max-width: 767px) {
      .footer .ig {
        width: 18px;
        height: 18px; } }
  .footer .line {
    width: 48px;
    height: 48px;
    background: url("../images/ic_social_line.png") no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden; }
    @media (max-width: 767px) {
      .footer .line {
        width: 18px;
        height: 18px; } }
  .footer .contact li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 16px;
    margin-bottom: 0.5rem; }
  .footer .contact a {
    font-size: 2.25rem;
    line-height: 3.9375rem; }
    @media (max-width: 767px) {
      .footer .contact a {
        font-size: 1rem;
        line-height: 1.5rem; } }
  .footer .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #fff;
    padding: 32px 0px; }
    @media (max-width: 767px) {
      .footer .footer-text {
        padding-top: 16px;
        padding-bottom: 24px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer .footer-text .copyright {
      font-size: 1rem;
      line-height: 1.5rem; }
      @media (max-width: 767px) {
        .footer .footer-text .copyright {
          margin-bottom: 0.5rem; } }
    .footer .footer-text .service {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 150px; }
      @media (max-width: 767px) {
        .footer .footer-text .service {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .footer .footer-text .service a {
        font-size: 0.875rem;
        line-height: 1.3125rem; }
        @media (max-width: 767px) {
          .footer .footer-text .service a {
            margin-bottom: 0.5rem;
            font-size: 1rem;
            line-height: 1.5rem; } }

/*# sourceMappingURL=all.css.map */
